body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: linear-gradient(#003265, 10%, #0f519e);
}
header,
nav {
  color: white;
  text-align: center;
}

.logo-icon {
  display: block;
  margin: 0 auto;
  width: 180px;
}
nav {
  background: linear-gradient(#003265, 50%, #0f519e);
  margin-left: -10px;
  margin-right: -10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navLinks {
  margin-top: 30px;
  margin-bottom: 40px;
  padding: 20px;
  text-transform: uppercase;
}
nav ul li {
  align-items: center;
  margin-right: -10px;
  display: inline-block;
  list-style: none;
  margin: 0 5px;
}
nav a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  padding: 20px 10px;
  transition: all 150ms ease-in;
  font-size: 16px;
  margin-top: 40px;
}
nav a:hover {
  background: #0f519e;
}
.burger {
  display: none;
  cursor: pointer;
}
.burger div {
  width: 24px;
  height: 3px;
  background-color: white;
  margin: 5px;
  transition: all 0.3s ease;
}
.first-button-header,
.second-button-header {
  padding: 8px 60px;
  border-radius: 25px;
  text-decoration: none;
  color: white;
  font-weight: 400;
  font-size: 18px;
  margin: 10px;
}
.first-button-header {
  box-shadow: 0px 5px 50px 1px rgb(250, 96, 1, 0.6);
  background: #fa6001;
}
.first-button-header:hover {
  background: linear-gradient(180deg, #f97a01, 50%, #fa6001);
}
.second-button-header {
  background: #4e99e9;
}
.second-button-header:hover {
  background: linear-gradient(180deg, #4e99e9, 50%, #448ede);
}
header {
  margin-top: 20px;
}
header h5 {
  margin-top: 60px;
  font-size: 18px;
}
header button {
  padding: 8px 60px;
  border-radius: 25px;
  text-decoration: none;
  color: white;
  font-weight: 800;
  font-size: 26px;
  background: #4e99e9;
  border: none;
  cursor: pointer;
}
input {
  display: none;
}
.tooltip {
  position: static;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 240px;
  font-size: 18px;
  background-color: white;
  color: #4e99e9;
  text-align: center;
  border-radius: 50px;
  padding: 10px;
  position: fixed;
  z-index: 1;
  bottom: 120%;
  left: 0%;
  transition: all 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
header p {
  font-size: 18px;
}

main {
  background: white;
  padding: 15px;
  border: 1px solid #adacac;
  border-radius: 20px;
  text-align: center;
  color: rgb(59, 59, 59);
  max-width: 1350px;
  display: block;
  margin: 0 auto;
}
main h3 {
  font-size: 28px;
}
.first-button,
.second-button {
  padding: 10px 500px;
  border-radius: 25px;
  text-decoration: none;
  color: white;
  background: #fa6001;
  font-size: 14px;
  box-shadow: 0px 5px 20px 1px rgb(250, 96, 1, 0.6);
}

.second-button:hover {
  background: linear-gradient(180deg, #f97a01, 50%, #fa6001);
  box-shadow: 0px 5px 20px 1px rgb(250, 96, 1, 0.9);
}
.first-button:hover {
  background: linear-gradient(180deg, #f97a01, 50%, #fa6001);
  box-shadow: 0px 5px 20px 1px rgb(250, 96, 1, 0.9);
  padding: 10px 550px;
}
.icon-up {
  padding: 10px 12px;
  background: #fa6001;
  color: white;
  border-radius: 50px;
  border: none;
  font-size: 8px;
  position: fixed;
  right: 10px;
  bottom: 20px;
  cursor: pointer;
}
html {
  scroll-behavior: smooth;
}
main p {
  margin: 20px;
  line-height: 2;
  font-size: 18px;
}
main h6 {
  font-weight: 100;
  font-style: italic;
  font-size: 13px;
}
main p,
ul,
ol,
li {
  text-align: left;
}
main img {
  display: block;
  margin: 0 auto;
  height: auto;
  max-width: 100%;
}
.first-photo {
  width: 700px;
}
main ul,
ol {
  line-height: 2;
  margin-left: 30px;
  font-size: 15px;
}
.second-photo {
  width: 700px;
}
.fourth-photo {
  width: 700px;
}
.fifth-photo {
  width: 700px;
}
main h2 {
  font-size: 30px;
}
.footer-block {
  display: flex;
  justify-content: space-evenly;
  margin: 30px;
}
footer {
  background: #073a77;
  margin: 40px -20px -20px -20px;
  color: white;
  padding: 20px;
}
.footer-link {
  text-decoration: none;
  color: white;
  transition: all 150ms ease-in;
  display: block;
  text-align: center;
  line-height: 1.5;
  font-size: 20px;
  margin-left: 30px;
}
.footer-link:hover,
.last-block > a:hover {
  color: #fa6001;
}
footer img {
  max-width: 140px;
  height: 140px;
}
.photo-footer-block {
  margin-left: 60px;
}
footer p {
  font-size: 11px;
  line-height: 1.5;
}
.last-block {
  text-align: center;
}
.last-block > a {
  text-decoration: none;
  color: white;
  transition: all 150ms ease-in;
}
@media (max-width: 1288px) {
  .first-button {
    padding: 10px 200px;
  }
  .first-button:hover {
    padding: 10px 230px;
  }
  .second-button {
    padding: 10px 300px;
  }
  .second-button:hover {
    padding: 10px 330px;
  }
}

@media (max-width: 991px) {
  body {
    overflow-x: hidden;
  }
  .navLinks {
    font-size: 12px;
    position: fixed;
    right: 0px;
    height: 92vh;
    top: -30px;
    background-color: #063165;
    color: white;
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    align-items: left;
    text-transform: capitalize;
  }
  .navLinks li::after {
    content: "________________________________________";
    color: #adacac;
    opacity: 18%;
    margin-left: 15px;
  }
  .navLinks li {
    padding-top: 50px;
    margin-top: 20px;
    opacity: 0;
  }
  .burger {
    display: block;
    position: relative;
    top: -30px;
    right: -350px;
  }
  nav {
    margin-bottom: 20px;
  }
  nav ul li,
  nav ol li {
    font-size: 12px;
  }
  main p {
    font-size: 18px;
  }
  main h3 {
    font-size: 26px;
  }

  footer img {
    width: 80px;
    height: 80px;
    margin-left: 0;
  }
  .footer-link {
    font-size: 16px;
    margin-left: 0;
  }
  footer p {
    font-size: 11px;
    margin-left: 0;
  }
}
.nav-active {
  transform: translateX(0%);
}
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
@media (max-width: 797px) {
  .burger {
    top: -30px;
    right: -300px;
  }
  nav {
    margin-right: -20px;
  }
  .first-button {
    padding: 10px 100px;
  }
  .first-button:hover {
    padding: 10px 130px;
  }
  .second-button {
    padding: 10px 200px;
  }
  .second-button:hover {
    padding: 10px 230px;
  }
}
@media (max-width: 625px) {
  .burger {
    top: -30px;
    right: -250px;
  }
  .first-button {
    padding: 10px 50px;
  }
  .first-button:hover {
    padding: 10px 80px;
  }
  .second-button {
    padding: 10px 150px;
  }
  .second-button:hover {
    padding: 10px 180px;
  }
}

@media (max-width: 525px) {
  .burger {
    top: -30px;
    right: -200px;
  }
  .first-button-header,
  .second-button-header {
    padding: 8px 30px;
    font-size: 14px;
  }
  .navLinks {
    font-size: 10px;
    padding-left: 0;
  }
  nav ul li,
  nav ol li {
    font-size: 10px;
  }
  main p {
    font-size: 16px;
  }
  main h3 {
    font-size: 22px;
  }
  .first-button {
    padding: 10px 30px;
  }
  .first-button:hover {
    padding: 10px 60px;
  }
  .second-button {
    padding: 10px 120px;
  }
  .second-button:hover {
    padding: 10px 140px;
  }
  footer p {
    font-size: 8px;
  }
}
@media (max-width: 425px) {
  .burger {
    top: -30px;
    right: -150px;
  }
  .first-button {
    padding: 10px 15px;
  }
  .first-button:hover {
    padding: 10px 20px;
  }
  .second-button {
    padding: 10px 50px;
  }
  .second-button:hover {
    padding: 10px 60px;
  }
}
